@import '../../../common/mixins';

.experience__card{
  background: #eee;
  &-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(50);
    height: rem(50);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: rem(25);
  }
}
