@import '../../common/mixins';

.intro{
  position: relative;
  color: var(--color-second);
  overflow: hidden;
  @include _768 {
    background: var(--color-intro-main);
  }
  &__container{
    min-height: 100vh;
    @include _768 {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }
  &__content{
    background: var(--color-main);
    position: relative;
    z-index: 5;
    padding-top: rem(80);
    @include _768 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 100vh;
      padding: var(--a-padding-x5);
      width: 50%;
      background: var(--color-intro-main);
    }
    @include _1600 {
      padding-left: rem(120);
    }
  }
  &__aside{
    position: relative;
    display: none;
    @include _768 {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: var(--a-padding-x5);
      background: var(--color-intro-aside);
      width: 50%;
    }
  }
  &__photo{
    transition: .3s;
    background: var(--color-second);
    overflow: hidden;
    border-radius: var(--border-radius-x2);
    max-width: rem(400);
    margin: 0 auto;
    img{
      width: 100%;
      max-width: 100%;
    }
    @include _768 {
      position: relative;
      z-index: 3;
      background: var(--color-pink-photo);
      max-width: rem(250);
      &-mobile{
        display: none;
      }
    }
    @include _992 {
      max-width: rem(350);
    }
    @include _1600 {
      max-width: rem(500);
    }
    @include _1920 {
      max-width: rem(600);
    }
  }
  &__title{
    position: relative;
    text-transform: uppercase;
    font-size: rem(24);
    line-height: 120%;
    font-weight: 900;
    margin-top: rem(45);
    text-align: right;
    &::before{
      content: '';
      width: rem(95);
      height: rem(4);
      background: var(--color-second);
      position: absolute;
      right: 0;
      bottom: rem(-15);
    }
    @include _576 {
      font-size: rem(28);
    }
    @include _768 {
      margin: 0;
      text-align: left;
      font-size: rem(32);
      line-height: 90%;
      span{
        padding-left: rem(43);
      }
      &::before{
        display: none;
      }
    }
    @include _1140 {
      font-size: rem(64);
      span{
        padding-left: rem(64);
      }
    }
  }
  &__subtitle{
    font-size: rem(20);
    line-height: 120%;
    font-weight: 600;
    text-align: right;
    margin-top: rem(40);
    @include _576 {
      font-size: rem(24);
    }
    @include _768 {
      display: none;
    }
  }
  &__marquee{

    &-box{
      transform: rotate(-90deg);
      position: absolute;
      left: -50vw;
      width: 100vw;
      z-index: 5;
    }
    .overlay{
      display: none;
    }
    .marquee{
      p{
        font-size: rem(20);
        font-weight: 600;
        margin: 0 rem(20);
        padding: var(--a-padding-x3) 0;
        @include _1600 {
          font-size: rem(36);
          margin: 0 rem(55);
        }
      }
    }
  }
  &__animation{
    position: relative;
  }
  &__decoration{
    position: absolute;
    svg{
      width: 100%;
      height: 100%;
    }
    &-01{
      top: rem(-110);
      z-index: 4;
      @include _992 {
        top: rem(-100);
      }
      @include _1600 {
        top: rem(-130);
        width: rem(220);
      }
      @include _1920 {
        top: rem(-150);
        left: rem(-50);
        width: rem(280);
      }
    }
    &-02{
      z-index: 4;
      bottom: rem(-80);
      right: rem(-20);
      @include _992 {
        bottom: rem(-80);
      }
      @include _1600 {
        width: rem(180);
      }
      @include _1920 {
        bottom: rem(-130);
        right: rem(-80);
        width: rem(220);
      }
    }
    &-03{
      bottom: rem(-50);
      left: rem(-10);
      @include _992 {
        bottom: rem(-70);
      }
      @include _1600 {
        bottom: rem(-80);
        width: rem(140);
      }
      @include _1920 {
        bottom: rem(-160);
        width: rem(200);
      }
    }
  }
}
