html{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
  box-shadow: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
table {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

button{
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--color-main);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-second);
  border-radius: rem(5);
}

::-webkit-scrollbar {
  width: rem(5);
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.main{
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  background: var(--color-main);
  color: var(--color-second);
}
.container{
  z-index: 1;
  position: relative;
  padding: 0 var(--a-padding-x5);
}
.wrapper{
  display: flex;
}
.s-title{
  position: relative;
  font-size: rem(24);
  line-height: 130%;
  font-weight: 900;
  color: var(--color-second);
  margin-bottom: rem(45);
  &::before{
    content: '';
    width: 40vw;
    height: rem(4);
    background: var(--color-second);
    position: absolute;
    right: 0;
    bottom: rem(-10);
  }
}